{% extends "recipes/base.html" %}
<!-- -->
{% block content %}
<div class="container">
    <h1>About these recipes...</h1>
    <br>
    <h2>I love Caribbean food!</h2>
    <br>
    <hr>
    <p>I have lived in London all my life and my father was from the Caribbean island of Grenada.</p>
    <p>Sadly he passed away in 2008 but I love to collect and cook the food that he used to cook for us.</p>
    <p>I have started this collection of Caribbean recipes.</p>
    <p>If you are fond of caribbean food or maybe want to give it a try please take a look.</p>
    <p>Maybe even add a recipe yourself?</p>
</div>
{% endblock content %}