{% extends "recipes/base.html" %}
<!--block content starts below -->
{% block content %}

<!--for loop to display each recipe on a card-->
<h1>Recipes:</h1>
{% for recipe in recipes %}

<!-- bootstrap card to display recipes-->
<!--my-4 adds spacing between the cards using a small margin between them-->
<div class="card my-4 w-100" style="width: 18rem;">
    <div class="card-body bg-light">
      <h5 class="card-title">{{ recipe.title }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{recipe.author}}</h6>
      <p class="card-text">{{recipe.description}}</p>
      <br>
      <h6>Ingredients</h6>
      <p class="card-text">{{recipe.ingredients}}</p>
      <h6>Method</h6>
      <p class="card-text">{{recipe.method}}</p>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{recipe.updated_at|date:"F d, Y"}}</h6>
      
    </div>
  </div>

{% endfor %}

{% endblock content %}